@import url('https://fonts.googleapis.com/css2?family=Georgia:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hero:wght@400;500;600&display=swap');
@import "tailwindcss";
@plugin '../hero.js';
/* Note: You may need to change the path to fit your project structure */
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

:root {
  --primary-color: #5A5248;
}

.font-georgia {
  font-family: 'Georgia', serif;
}

.font-hero {
  font-family: 'Hero', sans-serif;
}