@import url('https://fonts.googleapis.com/css2?family=Georgia:wght@400;700&display=swap');
@import "tailwindcss";
@plugin '../hero.js';
/* Note: You may need to change the path to fit your project structure */
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

:root {
  --primary-color: #a68b76;
}

.font-georgia {
  font-family: 'Georgia', 'Times New Roman', serif;
}